<script>
  var collection_urls = [];
</script>
<div class="header">
  <div class="splash">
    <div class="container">
      <div class="signin-container">

        <div class="heading">
          <h2>Rails Code Test</h2>
        </div>

          <form method="post" id="url_form" class="url_form">
              <p>
                <label>Website URL:</label>
                <input type="text" name="website_url" id="website_url" class="text">
              </p>
              <p>
                <button class="button orange" type="submit" onclick="$(this).parents('form').submit(); return false;">Add URL</button>
              </p>
          </form>
    
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="center-feature">
    <p class="feature-description">
      <table class="centered">
        <tbody>
          <% @websites.each do |url| %>
            <tr>
              <td><%= url.url %></td>
              <script>
                collection_urls.push("<%= url.url %>");
              </script>
            </tr>
          <% end %>
        </tbody>
      </table>
    </p>  
  </div>
</div>